.navbar {
  display: flex;
  max-width: 1130px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  background-color: black;
  margin: 0 auto;

  .logo {
    max-width: 60px;
    height: auto;
    object-fit: cover;
  }

  .menu {
    display: flex;
    gap: 40px;
    list-style: none;
    li {
      a {
        color: #fff;
      }
    }
  }
}
