.single_post_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1130px;
  margin: 0 auto;
  gap: 40px;

  h1 {
    font-size: 4rem;
    color: #fff;
    margin: 60px 0 0;
  }

  .single_post_container {
    display: flex;
    .post_info {
      flex: 1;
      color: #fff;

      p {
        background-color: #74747452;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 20px;
        font-size: 14px;
      }
    }
    .post_content {
      flex: 2;
      color: #fff;
      line-height: 24px;
    }
  }
}
